<article class="MissionLine MissionLine--{{line.data.name | camelizeLower}}">
  <img
    class="MissionLine-image"
    src="/img/{{ line.data.image }}"
    alt="{{ line.data.alt }}"
  >

  <h1 class="MissionLine-name">
    {{ line.data.name }}
  </h1>

  <div class="MissionLine-text Box">
    {{ line.content }}
    <a href="/programs#{{ line.data.name | slugify }}">Read more...</a>
  </div>
</article>