<article class="MissionLine">
    <img
      class="MissionLine-image"
      src="{{ src }}"
      alt="{{ alt }}"
    >

    <h1 class="MissionLine-name">
      {{ name }}
    </h1>

    <p class="MissionLine-text Box">
      {{ body }}
      <a href="/programs#{{ anchor }}">Read more...</a>
    </p>
</article>