<article class="Project">
  {% if project.data.image != null %}
    <img class="Project-image" src="{{project.data.image}}" />
  {% endif %}
  <div class="Project-description {{project.data.align}}">
    <h1>{{ project.data.name }}</h1>
    {% if project.data.organizer != null %}
      <h2>by {{ project.data.organizer }}</h2>
    {% endif %}

    {% if project.content != "" %}
      <div class="Project-body">
        {{ project.content }}
      </div>
    {% endif %}
  </div>
</article>