<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">

    <!-- title -->
    {% if title == null %}
      {% assign title = name | camelize %}
    {% endif %}

    <!-- page -->
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- preview -->
    {% assign previewTitle = "Wonderville Projects" %}
    {% assign host = "https://wonderville-projects.netlify.app" %}
    {% assign path = "" %}

    {% if name != "home" %}
      {% assign title = "{{previewTitle}} - {{title}}" %}
      {% assign path = "{{name}}" %}
    {% endif %}

    <link rel="canonical" href="{{host}}">
    <meta property="og:title" content="{{previewTitle}}">
    <meta property="og:site_name" content="Wonderville Projects">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{host}}/{{path}}">
    <meta property="og:image" content="{{host}}/{{image}}">
    <meta property="og:description" content="{{description}}">

    <!-- assets -->
    <link rel="stylesheet" href="/site.css">
    <script type="module" src="/site.js"></script>
  </head>

  <body>
    <div id="page" class="Page {{ name | camelize }}">
      <!-- ~*~ Header ~*~ -->
      {% if name == "home" %}
        <header class="PageHeader Page-header">
          <video
            class="PageHeader-bg"
            src="/img/header.mp4"
            autoplay
            loop
            muted
          >
            <img
              src="/img/header-still.png"
            >
          </video>

          <div class="PageHeader-title">
            <h1 class="PageHeader-logo">
              <img
                class="PageHeader-logoImage"
                src="/img/logo.svg"
                alt="the word 'wonderville', but the w looks like a sound signal"
              >
            </h1>

            <div class="PageHeader-subtitle">
              <h2 class="PageHeader-programs">projects</h2>
            </div>
          </div>

          <p class="PageHeader-org">a 501c3 org<p>
        </header>
      {% endif %}

      <!-- ~*~ Nav ~*~ -->
      <nav id="nav" class="Nav">
        <div class="Nav-background"></div>
        <div class="Nav-links">
          <a class="NavLink NavLink--home" href="/">Home</a>
          <a class="NavLink NavLink--programs" href="/programs">Programs</a>
          <a class="NavLink NavLink--donate" href="/donate">Donate</a>
        </div>
      </nav>

      <!-- ~*~ Content ~*~ -->
      <div class="Page-center">
        <main class="Page-content">
          {{ content }}
        </main>
      </div>

      <!-- ~*~ Footer ~*~ -->
      <footer class="PageFooter">
        <img
          class="PageFooter-bg"
          src="/img/footer.png"
          alt="teal shoes with wonderville logo pattern on wood background"
        >

        <div class="PageFooter-content">
          <p class="PageFooter-thanks">Thanks for visiting!</p>

          <a
            class="PageFooter-donate Button"
            href="/donate"
          >
            Donate
          </a>

          <p class="PageFooter-or">or</p>

          <p class="PageFooter-contact Box">Email us at&nbsp
            <a href="mailto:hello@wonderville.nyc">hello@wonderville.nyc</a>
          </p>
        </div>

        <!-- ~*~ =) ~*~ -->
        <span class="PageFooter-credits Box Box--small">
          website made by <a href="https://boshis-place.github.io/">boshi's place</a>
        </span>
      </footer>
    </div>

    <div id="loading" class="Loading"></div>
  </body>
</html>