<a href="/programs/{{event.data.tags}}/{{event.fileSlug}}">
  <article
    class="
      ProgramEvent
      {% if event.data.border %}
        ProgramEvent--bordered
      {% endif %}
      Rand--{{100 | rand}}
    "
  >
    <h1 class="ProgramEvent-title">
      {{event.data.name}}
    </h1>

    <p class="ProgramEvent-date">
      {{event.data.date | toShortDate: event.data.season}}
    </p>

    <img
      class="ProgramEvent-poster"
      src="{{event.data.poster | toImageUrl }}"
    >
  </article>
</a>