{% assign class = program.data.name | camelize %}
{% assign anchor = program.data.name | slugify %}

<section class="{{class}} Program PageSection" id="{{anchor}}">
  <h1 class="{{class}}-title PageSection-title">
    <a
      class="PageSection-titleText"
      href="/programs/{{anchor}}"
    >
      {{program.data.name}}
    </a>
  </h1>

  <h2 class="PageSection-subtitle Program-description">
    {{program.content}}
  </h2>

  <div class="Program-images">
    {%- for image in program.data.images %}
      <img class="Program-image" src="/img/{{image}}" />
    {%- endfor %}
  </div>
</section>