{% assign class = program.data.name | camelize %}

<section class="{{class}} Program PageSection">
  <header class="PageSection-header">
    <div class="{{class}}-title PageSection-title">
      <h1 class="PageSection-titleText">
        {{program.data.name}}
      </h1>

      <p class="Page-more">
        <a
          class="Page-moreLink"
          href="/programs/{{program.data.name | slugify}}"
        >
          See more!
        </a>
      </p>
    </div>
  </header>

  <h2 class="PageSection-subtitle Program-description">
    {{program.content}}
  </h2>

  <div class="Program-images">
    {%- for image in program.data.images %}
      <img class="Program-image" src="/img/{{image}}" />
    {%- endfor %}
  </div>
</section>