{% assign class = program.data.name | camelize %}

<section class="{{class}} ProgramDetail PageSection">
  <header class="PageSection-header">
    <div class="{{class}}-title PageSection-title">
      <p class="Page-back">
        <a class="Page-backLink" href="{{program.data.back.href}}">
          {{program.data.back.name}}
        </a>
      </p>

      <h1 class="PageSection-titleText">
        {{program.data.name}}
      </h1>
    </div>
  </header>

  <h2 class="PageSection-subtitle ProgramDetail-description">
    {{program.content}}
  </h2>

  <!-- ~*~ Events ~*~ -->
  <div class="ProgramDetail-events">
    {%- for event in programEvents %}
      {% render "programs/ProgramEvent.liquid", event: event %}
    {%- endfor %}
  </div>
</section>
