{% assign class = program.data.name | camelize %}

<section class="{{class}} Program PageSection">
  <h1 class="{{class}}-title PageSection-title">
    <span class="PageSection-titleText">
      {{program.data.name}}
    </span>
  </h1>

  <a
    href="/programs/{{program.data.name | slugify}}"
  >
    See more!
  </a>

  <h2 class="PageSection-subtitle Program-description">
    {{program.content}}
  </h2>

  <div class="Program-images">
    {%- for image in program.data.images %}
      <img class="Program-image" src="/img/{{image}}" />
    {%- endfor %}
  </div>
</section>