<p class="Page-back">
  <a class="Page-backLink" href="{{back.href}}">
    {{back.name}}
  </a>
</p>

<article class="ProgramEventDetail PageSection">
  <h1 class="PageSection-title">
    <span class="PageSection-titleText">
      {{name}}
    </a>
  </h1>

  <p class="ProgramEventDetail-date PageSection-subtitle">
    {{date | toShortDate}}
  </p>

  <div class="ProgramEventDetail-content">
    <img
      class="ProgramEventDetail-poster"
      src="/img/{{poster}}"
    >

    <section class="ProgramEventDetail-body">
      {{content}}
    <section>
  </div>
</article>