<article class="ProgramEventDetail PageSection">
  <header class="PageSection-header">
    <div class="PageSection-title">
      <p class="Page-back">
        <a class="Page-backLink" href="{{back.href}}">
          {{back.name}}
        </a>
      </p>

      <h1 class="PageSection-titleText">
        {{name}}
      </h1>
    </div>

    <p class="ProgramEventDetail-date">
      {{date | toShortDate}}
    </p>
  </header>

  <div class="ProgramEventDetail-content">
    <img
      class="ProgramEventDetail-poster"
      src="/img/{{poster}}"
    >

    <section class="ProgramEventDetail-body">
      {{content}}
    <section>
  </div>
</article>