<p class="Page-back">
  <a class="Page-backLink" href="{{back.href}}">
    {{back.name}}
  </a>
</p>

<section class="ProgramEventDetail PageSection">
  <h1 class="PageSection-title">
    <span class="PageSection-titleText">
      {{name}}
    </a>
  </h1>

  <p class="ProgramDeventDetail-date">
    {{date | toShortDate}}
  </p>

  <img
    class="ProgramDeventDetail-poster"
    src="/img/{{poster}}"
  >

  <div class="PageSection-subtitle ProgramEventDetail-body">
    {{content}}
  <div>
</section>