<article class="Program">
  {% if program.data.image != null %}
    <img class="Program-image" src="{{program.data.image}}" />
  {% endif %}

  <div class="Program-name {{program.data.align}} Box">
    <h1>{{ program.data.name }}</h1>

    {% if program.data.organizer != null %}
      <h2>by {{ program.data.organizer }}</h2>
    {% endif %}
  </div>

  {% if program.content != "" %}
    <div class="Program-body Box">
      {{ program.content }}
    </div>
  {% endif %}
</article>